HTTP_ADDR=0.0.0.0
HTTP_PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=test
DB_PASS=test
DB_NAME=test
DB_SSL_MODE=disabled

S3_ENDPOINT=s3.domain.com
S3_ACCESS_KEY_ID=xxxxxxxxx
S3_SECRET_ACCESS_KEY=xxxxxxxxx
S3_BUCKET_NAME=common
S3_USE_SSL=true

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=465
MAIL_SMTP_USERNAME=xxxx
MAIL_SMTP_PASSWORD=xxxx
MAIL_FROM_NAME=Test Team

LOGGER_OUTPUT_PATH=/app/logs/app.log
LOGGER_ERROR_OUTPUT_PATH=/app/logs/error.log
